@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,500;1,500&display=swap');

h3 {
  font-family: 'Mochiy Pop One', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #bebfc1; 
  padding-top: 60px;
}

.card-img-top {
  height: 320px; 
}

.nav-link {
  position: relative;
  display: inline-block;
  color: #fff; /* Set link color to white */
  transition: color 0.2s ease-in-out; 
}

.nav-link:hover {
  color: #2874f0; 
}
.dining-icon::before {
  content: "🍴";
  font-family: "codicon";
  font-size: 32px;
}
#cart-count {
  position: absolute;
  top: -6px;
  right: -4px;
  background-color: #ff5722;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  visibility: hidden;
}

.nav-link.has-count #cart-count {
  visibility: visible;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2); /* Add box-shadow on hover */
}

.navbar {
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2); /* Add box-shadow */
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff; 
}

.navbar-toggler {
  color: white;
  border: none;
}

.bx {
  font-size: 25px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28156, 163, 175, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
  color: white;
  font-size: 18px; 
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 1rem;
}

.btn-primary {
  font-size: 1rem;
  background-color: #575a60; 
  border-color: #aaf028; 
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #212121;
  border-color: #e6e60e; 
}

.btn-danger {
  font-size: 1rem;
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Add a transition effect to links */
a {
  transition: color 0.2s ease-in-out;
}

/* Change the link color on hover */
a:hover {
  color: #2874f0;
}

/* Add a box-shadow to cards on hover */
.card:hover {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}

/* Add a hover effect to buttons */
.btn:hover {
  transform: translateY(-3px);
}

/* Add a box-shadow to buttons on hover */
.btn:hover,
.btn:focus {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}

/* Add a box-shadow to the navbar */
.navbar {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}

.notification {
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ff;
  border: 2px solid #008000;
  border-radius: 90px;
  padding: 20px;
  display: none;
  z-index: 999;
}

.notification__icon {
  color: #008000;
  font-size: 32px;
  margin-bottom: 10px;
}

.notification__message {
  font-size: 18px;
  text-align: center;
}

.notification.show {
  display: block;
  animation: fadeOut 2s linear forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}